<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chart.js test</title>
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"></script>
  <body>
    <canvas id="myChart"></canvas>

    <script>
      var xValues = [54, 55, 55, 57, 59, 60];
      var yValues = [16, 11, 20, 15, 13, 10];
      // var yValues2 = [16, 20, 11, 15, 13, 10];
      var ypunkt1_1 = [16, 11];
      var ypunkt1_2 = [16, 20];

      new Chart("myChart", {
        data: {
          datasets: [
            {
              type: "scatter",
              pointRadius: 4,
              pointBackgroundColor: "rgb(0,0,255)",
              data: yValues,
            },
            {
              type: "line",
              backgroundColor: "rgba(0,0,0,1.0)",
              borderColor: "rgba(0,0,0,0.1)",
              data: ypunkt1_1,
            },
            {
              type: "line",
              backgroundColor: "rgba(255,0,0,1.0)",
              borderColor: "rgba(255,0,0,0.1)",
              data: ypunkt1_2,
            },
          ],
          labels: xValues,
        },
        options: {
          legend: { display: false },
          scales: {
            xAxes: [{ ticks: { min: 40, max: 160 } }],
            yAxes: [{ ticks: { min: 6, max: 16 } }],
          },
        },
      });

      var xyValues = [
        { x: 55, y: 20 },
        { x: 60, y: 10 },
        { x: 57, y: 15 },
        { x: 54, y: 16 },
        { x: 55, y: 11 },
        { x: 59, y: 13 },
      ];
    </script>
  </body>
</html>
