<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geogebra_Test</title>

    <!--Geogebra implimentation-->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://www.geogebra.org/apps/deployggb.js"></script>
  </head>
  <body>
    <div id="ggb-element"></div>
    <script>
      var params = {
        appName: "geometry",
        width: 800,
        height: 600,
        showToolBar: false,
        showAlgebraInput: false,
        showMenuBar: false,
      };
      var applet = new GGBApplet(params, true);
      window.addEventListener("load", function () {
        applet.inject("ggb-element");
      });
    </script>
  </body>
</html>
