<!DOCTYPE html>
<html lang="de">
  <head>
    <style>
      .center {
        text-align: center;
      }
      input:invalid {
        background: red;
      }
      input:valid {
        background: white;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stehling Stahl - Materialreihenfolge</title>
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/Jendrik-Kraft/Materialreihenfolge_Stahl_IT_Systeme/Icon/MATERIALREIHENFOLGE_STAHL/REIHENFOLGE_APP/templates/REIHENFOLGE/StealIcon.png"
      type="image/x-icon"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
  </head>
  <body>
    <!-- hero: https://bulma.io/documentation/layout/hero/ -->
    <section class="hero is-info">
      <div class="hero-body">
        <div class="columns is-mobile">
          <div class="column">
            <h1 class="title">Materialreihenfolge</h1>
            <p class="subtitle">
              Ihr Materialreihenfolge System powered by
              <strong>Team Ford</strong>!
            </p>
          </div>
          <div class="column is-2 is-white">
            <figure class="image">
              <img
                style="border: 5px solid #ffffff"
                src="https://www.fh-swf.de/media/_tech__fhswf/layout__fhswf/images__fhswf/Logo.png"
              />
            </figure>
          </div>
        </div>
      </div>
    </section>

    <section class="section has-background-grey-lighter">
      <div class="columns">
        <div
          class="column is-three-quarters has-background-white-bis"
          style="font-size: 14px"
        >
          <canvas id="myChart"></canvas>
        </div>
        <div class="container notification has-background-grey-light">
          <!-- columns: https://bulma.io/documentation/columns/basics/ -->
          <div class="columns">
            <div class="column">
              <p class="is-size-4 has-text-centered">Toleranz Dicke [%]</p>
              <div id="myDIV" class="header">
                <div class="control has-icons-left">
                  <input
                    class="input is-medium"
                    type="number"
                    min="1"
                    max="500"
                    id="input_dicke"
                    placeholder="Eingabe der Toleranzdicke in Prozent [%]"
                  />
                  <span class="icon is-left">
                    <i class="fas fa-clipboard"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <p class="is-size-5 has-text-centered">
                Aktuelle Toleranz Dicke:
                <script>
                  document.write(localStorage.getItem("Dicke"));
                </script>
                %
              </p>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <p class="is-size-4 has-text-centered">Toleranz Breite [mm]</p>
              <div id="myDIV" class="header">
                <div class="control has-icons-left">
                  <input
                    class="input is-medium is-size-5"
                    type="number"
                    min="1"
                    max="1000"
                    id="input_breite"
                    placeholder="Eingabe der Toleranzbreite in Millimeter [mm]"
                  />
                  <span class="icon is-left">
                    <i class="fas fa-clipboard"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <p class="is-size-5 has-text-centered">
                Aktuelle Toleranz Breite:
                <script>
                  document.write(localStorage.getItem("Breite"));
                </script>
                mm
              </p>
            </div>
          </div>
          <div class="center">
            <div class="column">
              <button
                class="button addBtn"
                style="width: 255px"
                id="update_tol_Btn"
                onclick="updateToleranz()"
              >
                <!--onclick = Funktion ausführen-->
                Neue Toleranzen anwenden &nbsp <i class="fas fa-check"></i>
              </button>
            </div>
          </div>
          <div class="center">
            <div class="column">
              <input
                type="button"
                style="width: 255px"
                class="button addBtn"
                id="show_dummys"
                onclick="showDummys()"
                value="Zeige Dummycoils an"
              />
              <!--onclick = Funktion ausführen-->
              <!--Zeige Dummycoils-->
              <!--</button>-->
            </div>
          </div>
          <div class="center">
            <div class="column">
              <input
                type="button"
                style="width: 255px"
                class="button addBtn"
                id="show_path"
                onclick="showPath()"
                value="Zeige besten Pfad"
              />
              <!--onclick = Funktion ausführen-->
              <!--Zeige besten Pfad-->
              <!--</button>-->
            </div>
          </div>
          <div class="center">
            <div class="column">
              <button
                class="button addBtn"
                style="width: 255px"
                id="changeAxis_Btn"
                onclick="onChangeAxisButtonClick()"
              >
                Achsen vertauschen &nbsp <i class="fas fa-exchange-alt"></i>
              </button>
            </div>
          </div>
          <div class="center">
            <div class="column">
              <button
                class="button addBtn"
                style="width: 255px"
                id="changeWndw_Btn"
                onclick="onChangeToEditPageButtonClick()"
              >
                Datenbank editieren
              </button>
            </div>
          </div>
          <div class="center">
            <div class="column">
              <p
                id="nopath"
                style="color: #d00000; font-size: 150%; font-family: verdana"
              ></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      var xAchse_Name = "Dicke";
      var yAchse_Name = "Breite";
      var AxisLabelModifier = " in mm";
      var coils = {{ coils|safe }} ;// Laden aus der Python Datei
      var dummy_coils = {{ dummy_coils|safe }} ;// Laden aus der Python Datei
      //var dummy_coils = [{x: 2, y: 600}]; // Test Values für die Dummy Coils
      var connections = {{ connections|safe }} ;// Laden aus der Python Datei
      var error = {{ error|safe }} ; //Lade Error Status
      var allCoils = coils.concat(dummy_coils);

      if(localStorage.getItem("DummyText")=="Zeige Dummycoils an" && localStorage.getItem("buttonText")=="Zeige besten Pfad"){
        dummy_coils=[];
      }
      if(localStorage.getItem("buttonText")=="Zeige besten Pfad"){
        document.getElementById("show_dummys").removeAttribute("disabled");
      }else{
        localStorage.setItem("DummyText", "Blende Dummycoils aus");
        document.getElementById("show_dummys").setAttribute("disabled", "disabled");
      }
      if(localStorage.getItem("tauschen")==1){
        var allCoils_string=JSON.stringify(allCoils);
        var allCoils_reverse = allCoils_string.replaceAll("x","a");
        allCoils_reverse = allCoils_reverse.replaceAll("y","x");
        allCoils_reverse = allCoils_reverse.replaceAll("a","y");
        allCoils = JSON.parse(allCoils_reverse);

        var coils_string=JSON.stringify(coils);
        var coils_reverse = coils_string.replaceAll("x","a");
        coils_reverse = coils_reverse.replaceAll("y","x");
        coils_reverse = coils_reverse.replaceAll("a","y");
        coils = JSON.parse(coils_reverse);

        var dummy_string=JSON.stringify(dummy_coils);
        var dummy_reverse = dummy_string.replaceAll("x","a");
        dummy_reverse = dummy_reverse.replaceAll("y","x");
        dummy_reverse = dummy_reverse.replaceAll("a","y");
        dummy_coils = JSON.parse(dummy_reverse);


        var connections_string=JSON.stringify(connections);
        var connections_reverse = connections_string.replaceAll("x","a");
        connections_reverse = connections_reverse.replaceAll("y","x");
        connections_reverse = connections_reverse.replaceAll("a","y");
        connections = JSON.parse(connections_reverse);

        xAchse_Name="Breite";
        yAchse_Name="Dicke";
      }

      if(error == 1){
        document.getElementById("nopath").innerHTML = "Achtung: Kein bester Pfad für diese Toleranzen verfügbar..";
      }
      else {
        document.getElementById("nopath").innerHTML = " ";
      }

      new Chart("myChart", {
        data: {
          datasets: [
            {
              type: "scatter",
              pointRadius: 6,
              borderColor: "rgba(0,0,0,0)",
              pointBackgroundColor: "rgba(0,0,0,0)",
              data: allCoils,
            },
            {
              type: "scatter",
              pointRadius: 6,
              pointBackgroundColor: "rgb(0,0,255)",
              data: coils,
            },
            {
              type: "scatter",
              pointRadius: 4,
              pointBackgroundColor: "rgb(255,0,0)",
              data: dummy_coils,
            },
            {
              type: "line",
              backgroundColor: "rgba(0,0,0,1.0)",
              borderColor: "rgba(0,0,0,1)",
              data: connections,
            },
          ],
        },
        options: {
          plugins: {
            legend: false,
            tooltip: {
              titleFont: { size: 18 },
              position: 'nearest',
              bodyFont: { size: 18, weight: 'bold' },
              callbacks: {
                title: function(tooltipItem) {
                    title = xAchse_Name + ': ' + tooltipItem[0].parsed.x;
                    title += '\r\n' + yAchse_Name +': ' + tooltipItem[0].parsed.y;
                    return title;
                },
                label: function(context) {
                    let label = context.dataset.label || '';

                    if (label) {
                        label += ': ';
                    }
                    label = 'Breite: ' + context.parsed.y;
                    return '';
                },
              },
              displayColors: false,
            },
          },
          interaction: {
            mode: "index",
          },
          //events: [], //um alle Interaktionen mit der Chart zu deaktivieren
          scales: {
            x: {
              ticks: {
              font: {
                        size: 19
                    },
              min: 40, max: 160 },
              title: {
              font: {
                        size: 21
                    },
                display: true,
                text: xAchse_Name + AxisLabelModifier,
              },
            },
            y: {
              ticks: {
              font: {
                        size: 19
                    },
              min: 6, max: 16 },
              title: {
              font: {
                        size: 21
                    },
                display: true,
                text: yAchse_Name + AxisLabelModifier,
              },
            },
          },
        },
      });
      // Änderung der Button - Beschriftung für show_path
      document.getElementById("show_path").value = localStorage.getItem("buttonText");
      document.getElementById("show_dummys").value = localStorage.getItem("DummyText");
    </script>
  </body>
</html>
